<!doctype html>
<#import "spring.ftl" as spring/>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><@spring.message 'manufacturers_of_products.head.title'/></title>
</head>
<body>
<h1><@spring.message 'manufacturers_of_product.body.h1.active_manufacturers'/></h1>
<table>
    <tr>
        <th><@spring.message 'manufacturers_of_product.table.header.description.active_manufacturers'/></th>
        <th><@spring.message 'manufacturers_of_product.table.header.address.active_manufacturers'/></th>
    </tr>
    <#list manufacturers as manufacturer>
        <tr>
            <td>${manufacturer.description}</td>
            <td>${manufacturer.address}</td>
        </tr>
    </#list>
</table>

<h1><@spring.message 'manufacturers_of_product.body.h1.manufacturers'/></h1>
<table>
    <tr>
        <th><@spring.message 'manufacturers_of_product.table.header.description.manufacturers'/></th>
        <th><@spring.message 'manufacturers_of_product.table.header.address.manufacturers'/></th>
        <th><@spring.message 'manufacturers_of_product.table.header.action.manufacturers'/></th>
    </tr>
    <#list unusedManufacturers as manufacturer>
        <tr>
            <td>${manufacturer.description}</td>
            <td>${manufacturer.address}</td>
            <td>
                <form method="post" action="/products/${productId}/manufacturers">
                    <input name="manufacturerId" type="hidden" value="${manufacturer.id}">
                    <input type="submit" value="<@spring.message 'manufacturers_of_product.table.form.input.submit.add'/>">
                </form>
            </td>
        </tr>
    </#list>
</table>
<p>
    <input type="submit" value="<@spring.message 'manufacturers_of_product.table.header.submit.main'/>" onclick='location.href="/main"'>
</p>
</body>
</html>